---
layout      : default
title       : Publications
subtitle    :
sponsors    : publications_menu
show_sidebar: false
hero_height : is-small
hero_image  :
hero_darken : false
show_sidebar: false
---
<div class="columns is-multiline">

  <div class="content">
    {{ content }}
  </div>

  <div class="tags">
    {% for tag in page.tags %}
      {% include tag.html tag=tag %}
    {% endfor %}
  </div>

  {% unless site.hide_share_buttons %}
  {% include share-buttons.html %}
  {% endunless %}

  {% if site.disqus.shortname %}
    {% include disqus.html %}
  {% endif %}

</div>
