<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-8">

		  <p>This Site is supported by the open-source template: <a href="https://github.com/mpa139/allanlab">allanlab on GitHUb.</a></p>
              <!-- <p>We are part of the <a href="https://www.physics.leidenuniv.nl/">Leiden Institute of Physics</a> at <a href="https://www.leidenuniv.nl">Leiden University</a>.</p> -->


		   <p>  </p><p>


		</div>
		<!-- <div class="col-sm-4">
		  Funding:<br />
      - StG and CoG from the <a href="https://erc.europa.eu">ERC</a><br />
		  - <a href="http://www.nwo.nl/en/research-and-results/programmes/Talent+Scheme">Vidi </a> and <a href='https://www.fom.nl/en/news/press-releases/2016/11/18/28634/'>Projectruimte</a> grants from <a href="http://www.nwo.nl">NWO</a> <br />
		  - <a href="https://www.universiteitleiden.nl/en/research/research-projects/science/frontiers-of-nanoscience-nanofront">Frontier of Nanosciences</a>, a gravity program from <a href="http://www.nwo.nl">NWO</a>
		</div> -->
		<div class="col-sm-4">
		  Contact:<br />
		  National University of Singapore<br />
		  9 Engineering Drive 1, Block EA-05-03<br />
		  <!-- Block EA-05-03<br /> -->
		  117575 Singapore <br />
            (<a href="https://www.google.com/maps/place/NUS+Engineering+EA/@1.3002382,103.7685536,17z/data=!3m1!5s0x31da1af765a51a85:0xe7612d70acc04c8a!4m12!1m6!3m5!1s0x31da1af73e43dd43:0x28ecbb583b491801!2sNUS+College+of+Design+and+Engineering!8m2!3d1.3002328!4d103.7707423!3m4!1s0x31da1ba196921297:0xb886e69e2cc437ab!8m2!3d1.3006049!4d103.7705476">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
