<section class="hero is-primary is-medium">
  <!-- Hero head: will stick at the top -->
  <!-- defined in _includes/header.html and _data/navigation.yml
       - modify _includes/header.html for style
       - modify _data/navigation.yml for content
  -->

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Title
      </p>
      <p class="subtitle">
        Subtitle
      </p>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->

</section>
