<!-- Hero head: will stick at the top -->
<!-- defined in _includes/header.html and _data/navigation.yml
     - modify _includes/header.html for style
     - modify _data/navigation.yml for content
-->

<section class="hero is-primary is-medium"
  {% if page.hero_image %}
    style="background: url('{{ page.hero_image }}') no-repeat center center; background-size: cover;"
  {% endif %}>
  <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %}">
    <div class="container">
      <p class="title is-2">{{ page.title }}</p>
      <p class="subtitle is-3">{{ page.subtitle }}</p>
    </div>
  </div>
</section>

<!-- Hero footer: will stick at the bottom -->
