<div class="columns is-multiline">
    {% for post in site.posts limit:3 %}
    <div class="column is-12">
        {% include post-line.html %}
    </div>
    {% endfor %}
</div>

<div class="buttons is-centered">
    <a href="/news/" class="button is-link is-outlined">All news</a>
</div>

<!-- <br>
<br> -->

<!-- <div>
    <h3>Our LinkedIn posts</h3>
    <div>
    <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:6960564644096671744" 
        height="auto" width="auto" frameborder="0" allowfullscreen="" 
        title="Embedded post">
    </iframe>
    </div>
    <br>
    <div>
    <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:6960564644096671744" 
        height="auto" width="auto"
        frameborder="0" allowfullscreen="" title="Embedded post">
    </iframe>
    </div>
</div> -->
