<div class="line">
    <header class="line-header">
      <div>
        <span class="icon-text">
          <span class="icon"><i class="fas fa-{{post.icon}}"></i> </span>
          <b> {{ post.date | date: "%b %-d, %Y" }} </b>
        </span>
      </div>
      <div>
        <a href="{{ site.baseurl }}{{ post.url }}"
          class="button is-link is-light"> <b> {{ post.title}} </b>
        </a>
      </div>
      <div>
        <a href="{{ site.baseurl }}{{ post.url }}" {{ post.summary | markdownify }} </a>
      </div>
    </header>
</div>
