<div class="line">
    <header class="line-header">
      <div class="columns is-multiline">
        <div class="column is-6">
          <a href="{{ site.baseurl }}{{ post.url }}"
            class="button is-primary"> {{ post.title}}
          </a>
        </div>
        <div class="column is-6">
          <img src="{{ post.image }}"
               style="height: 50px;
                      width: auto;
                      float: right;
                      margin-right: 15px;"/>
        </div>
      </div>
      {{ post.summary | markdownify }}
      {{ post.date | date: "%b %-d, %Y" }}
    </header>
</div>
