---
layout: default
---



<html>
  <div class="columns is-multiline is-centered">
    <div class="column is-8">
      <h1 style="color:;font-size:150%;font-weight:bold">
        We currently have 3 openings (deadline 15 November 2022)
      </h1>
      <hr>
      <br>
      <div style="color:;font-size:120%;margin-left:40px;">
        <li> Postdoctoral scholar on extreme weather forecasting
          <a href="/hiring/2022-oct-hiring-rf-weather">
            <button class="button is-outlined is-link is-small">
              <b>CHECK IT OUT!</b>
            </button>
          </a>
        </li>
        <br>
        <li> Research Assistant on extreme weather forecasting
          <a href="/hiring/2022-oct-hiring-ra-weather">
            <button class="button is-outlined is-link is-small">
              <b>CHECK IT OUT!</b>
            </button>
          </a>
        </li>
        <br>
        <li> Research Assistant on explainable AI for time series
          <a href="/hiring/2022-oct-hiring-ra-xai">
            <button class="button is-outlined is-link is-small">
              <b>CHECK IT OUT!</b>
            </button>
          </a>
        </li>
      </div>
      <hr>
      <br>
      <br>

      <h1 style="color:;font-size:150%;font-weight:bold">
        Alternative ways to sponsor positions
      </h1>
      <hr>
      <br>
      <p align="left" style="font-size:120%;">
        We are always looking for <b> new passionate Postdoctoral
        scholars, PhD and Master students</b> to join the team!

        If there are no openings, there are various ways to
        sponsor positions; here are two options, among many others:
        <br>
      </p>
      <br>
      <div style="color:;font-size:120%;margin-left:40px;">
        <li> Graduate programs
          <button class="button is-small is-outlined is-link">
            <a href="https://www.a-star.edu.sg/Scholarships/for-graduate-studies">
              <b>INFO</b>
            </a>
          </button>
        </li>
        <br>
        <li> Postgraduate programs
          <button class="button is-small is-outlined is-link">
            <a href="https://www.a-star.edu.sg/Scholarships/for-post-doctoral-studies">
              <b>INFO</b>
            </a>
          </button>
        </li>
      </div>
      <hr>
      <br>
      <br>

      <h1 style="color:;font-size:150%;font-weight:bold">
        Message to perspective team members
      </h1>
      <hr>
      <div>
        This message is intended primarily for students who are applying
        to graduate school, or are starting graduate school, and are
        considering working in my research group.
      </div>
      <br>
      <div>
        <b>Thanks for your interest.</b> First of all, I would like to
        thank you for taking the time to look at my web pages. I appreciate
        your interest in my research and in the activities of our group.
        Due to increasing internet connectivity and more interest
        in my research area, I receive a large number of e-mails from
        prospective students and postdocs. Unfortunately, there are
        too many messages for me to give a response to each one, even
        though I am doing my best to do so. I regret that I cannot reply
        to messages that are so important to the people who send them.
        For this reason, I have decided to write this message to help
        give some useful information to you.
      </div>
      <br>
      <div>
        <b>Learn about what we do.</b> If you believe that my research area
        might potentially be interesting to you, please look carefully
        at my web pages to learn about our research.
        You might even want to try downloading and reading some of
        our papers (if you are unable, please let me know). In general,
        I am more likely to reply to a student who has taken the time
        to get some idea of what my research involves, especially if
        they can explain why they would be well-suited to make contributions
        in my research group.
      </div>
      <br>
      <div>
        <b>My goals for students</b> I am very excited about the possibilty
        of working with motivated and proactive M.S./Ph.D. students,
        as well as undergraduate students. I intend to give strong
        personal guidance that will maximize their chances of building
        a rewarding and enjoyable career in research. Important goals
        that I have for students are:
        <br><br>
        <div style="color:;font-size:100%;margin-left:40px;">
          <li>
            the identification of fundamental research
            problems by developing a thorough understanding
            of the current literature;
          </li>
          <li>
            the development of a strong technical background
            that enables the proposal of independent and
            innovative solutions to challenging problems;
          </li>
          <li>
            the presentation and publication of research
            in top-ranked journals and conferences;
          </li>
          <li>
            the development of personal communication
            and presentation skills that are needed
            to maximize visibility in the research
            community, and increase chances of future
            success.
          </li>
        </div>
        <br>
        If you find this emphasis and my research area appealing,
        I believe our group could provide you with a vibrant and
        exciting educational experience.
      </div>
      <br>
      <div>
        <b>How to possibly join.</b> Admissions to NUS are based on
        merit, and the school and departments are the one making the
        initial short-listing. I cannot directly hire students, so
        please do not contact me with such a request
        (however, you can contact me if you are interested in a research
        fellow [postdoc] position). I would suggest contacting a professor
        whose research interests really match yours, so that they may
        remember/contact you if you get short-listed.
        The ordinary path into my group is to become a student here and
        then take an upper-level course from me, or to contact me for
        independent research. If there is strong mutual research interest
        between a student and me, chances are good they can start working
        in my group.
        Do not send blanket mass-emailed statements. I will ignore those.
        Please do not send me email that contains phrases such as "respected
        sir," "valuable time," "distinguished research," "esteemed professor,"
        and other odd phrases that are used in mass mailings.
        <br><br>
        In any case, good luck with your prospective graduate studies.
        <br><br>
        Best wishes,
        <br><br>
        Gianmarco Mengaldo
        <br><br>
        (This message was heavily inspired/poached from that of Guillaume Sartoretti et al.)
        <hr>
    </div>
  </div>
</html>
