---
layout: default
---



<html>
  {% if page.toc %}
    {% assign contentsTitle = page.toc_title | default: 'Contents' %}
    {% include toc.html html=content class='menu-list' h_min=2 h_max=3 contents_title=contentsTitle %}
  {% endif %}

  <style type="text/css">
    ul {
      list-style: none;
      padding: 1px 1px 1px 30px
    }
    ul li {
      font-size: 100%;
      margin-left: 10px;
      list-style-type: circle;
    }
  </style>

  <style>
  .container_for_overlay {
    position: relative;
    width: 100%;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: auto;
    opacity: 0;
    transition: .5s ease;
    background-color: #485ec6;
  }

  .container_for_overlay:hover .overlay {
    opacity: 0.9;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  </style>

  <div id="homepage-our-research" class="columns is-multiline is-centered">
    <!-- OUR RESEARCH -->
    <div class="column is-12 is-centered">
      <div class="content">
        <h2> Our research </h2>
      </div>
      <div class="columns is-multiline is-centered">
        <div class="column is-2">
          <a href="/research#research-2">
            <div class="container_for_overlay">
              <img src="/images/cover_natrev.jpg" alt="" class="image"/>
              <div class="overlay">
                <div class="text">Nonlinear dynamical systems</div>
              </div>
            </div>
          </a>
          <br>
          <div style="text-align: center;">
            <p>Nonlinear dynamical systems</p>
            <br>
            <a class="button is-centered is-normal is-link" href="/research#research-2"> Read more</a>
          </div>
        </div>
        <div class="column is-2">
        </div>
        <div class="column is-2">
          <a href="/research#research-3">
            <div class="container_for_overlay">
              <img src="/images/cover_siamrev.jpg" alt="" class="image"/>
              <div class="overlay">
                <div class="text">Partial differential equations</div>
              </div>
            </div>
          </a>
          <br>
          <div style="text-align: center;">
            <p>Partial differential equations</p>
            <br>
            <a class="button is-centered is-normal is-link" href="/research#research-3"> Read more</a>
          </div>
        </div>
        <div class="column is-2">
        </div>
        <div class="column is-2">
          <a href="/research#research-1">
            <div class="container_for_overlay">
              <img src="/images/cover_jcp.jpg" alt="" class="image"/>
              <div class="overlay">
                <div class="text">Data-driven predictive modeling</div>
              </div>
            </div>
          </a>
          <br>
          <div style="text-align: center;">
            <p>Data-driven predictive modeling</p>
            <br>
            <a class="button is-centered is-normal is-link" href="/research#research-1"> Read more</a>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>

  <div class="columns is-multiline is-centered">
    <!--  ABOUT US -->
    <div class="column is-8">
      <div class="content">
        <h2> About us </h2>
        <p align="left" style="font-size:100%;">
          We adopt an <span class=has-text-link>interdisciplinary 
          approach</span> for the <span class="has-text-link"> 
          analysis</span> and <span class="has-text-link">forecast
          </span> of <span class="has-text-link">complex systems</span>.
          <br>
          Understanding and modeling complex systems require
          integrating different disciplines with <span class="is-link"> 
          mathematics </span> being the unifying language.
          <br>
          <br>
          To cite <span class="has-text-link"> Galileo Galilei </span>,
          in <span style="font-style: italic"> Il Saggiatore (1623)</span>:
          <br>
          <span class="has-text-link" style="font-style: italic">
            <q> Philosophy [i.e., natural philosophy or physics] is written
            in this grand book — I mean the universe — which stands continually
            open to our gaze, but it cannot be understood unless one first
            learns to comprehend the language and interpret the characters
            in which it is written. It is written in the language of mathematics,
            and its characters are triangles, circles, and other geometrical
            figures, without which it is humanly impossible to understand
            a single word of it; without these, one is wandering around
            in a dark labyrinth. </q>
          </span>
          <br>
          <br>
          We are also committed to <span class="has-text-link">reproducible</span>, 
          <span class="has-text-link">open-source</span> and <span class="has-text-link">
          high-performance</span> software as it is a cornerstone of modern 
          science. All our codes related to scientific publications are 
          freely available at .
        </p>
        <p align="left" style="font-size:100%;">
          Our research team is led by Principal Investigator
          <a href=/team#mpegim-page-location> <b><u>Dr Gianmarco Mengaldo</u></b>. </a>
        </p>
      </div>
      <div class="columns is-multiline is-centered">
        <div class="column is-3">
          <video playsinline autoplay muted loop>
            <source src="videos/video_home_lorenz.mov" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <span style="font-size:90%;">
            <em><span class="has-text-link">Nonlinear dynamical systems</span>: 
              Lorenz attractor colored by newly developed indices</em>
          </span>
        </div>
        <div class="column is-3">
          <video playsinline autoplay muted loop>
            <source src="videos/video_home_car.mov" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <span style="font-size:90%;">
            <em><span class="has-text-link">Partial differential equations</span>: 
              Large-eddy simulation of a road car via high-order 
              spectral element methods</em>
          </span>
        </div>
        <div class="column is-3">
          <video playsinline autoplay muted loop>
            <source src="videos/video_home_spod.mov" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <span style="font-size:90%;">
            <em><span class="has-text-link">Data-driven predictive modeling</span>: 
              Spectral proper orthogonal decomposition of high-resolution
              ERA5 climate reanalysis data</em>
          </span>
        </div>
      </div>

      <div class="content">
        <h2> Sponsors </h2>
        <p align="left" style="font-size:100%;">
          We are supported by a number of grants.
          We acknolwedge support from <span class="has-text-link">Singapore's 
            Ministry of Education (MOE)</span>, <span class="has-text-link">
            National University of Singapore (NUS)</span>, and 
            <span class="has-text-link">Temasek Laboratory</span> 
            at NUS.
        </p>
        <br>
        <div class="columns is-multiline is-centered">
        <div class="column is-3">
          <a href="https://www.moe.gov.sg" target="_blank">
            <figure class="image is-3x3">
              <img src="/images/logo_moe.png" alt="" style="width:auto;height:140px;"/>
            </figure>
          </a>
        </div>
        <div class="column is-3">
          <a href="https://www.nus.edu.sg" target="_blank">
            <figure class="image is-3x3">
              <img src="/images/logo_nus.jpg" alt="" style="width:auto;height:140px;"/>
            </figure>
          </a>
        </div>
        </div>
      </div>
    </div>

    <!-- NEWS -->
    <div class="column is-4">
      <div class="content">
        <h3> Latest news </h3>
        <br>
        {% include latest-posts.html %}
      </div>
    </div>
  </div>

</html>
