---
layout: home_default
---

{% if page.toc %}
  {% assign contentsTitle = page.toc_title | default: 'Contents' %}
  {% include toc.html html=content class='menu-list' h_min=2 h_max=3 contents_title=contentsTitle %}
{% endif %}


<div class="columns is-multiline">
  <!--  ABOUT US -->
  <div class="column is-8">
  <h3> About us </h3>
  <hr>
    <p align="left" style="font-size:120%;">
      We are developing new computational and mathematical tools,
      for predicting the behaviour of complex systems in engineering
      and applied science.

      Adopting a multidisciplinary approach, we aim to unlock fundamental
      understanding of different aspects governing our interconnected world,
      from geophysical to engineering applications.

      Our research team is led by Principal Investigator
      <a href="https://scholar.google.com/citations?user=WAeydbgAAAAJ&hl=en">Dr Gianmarco Mengaldo </a>.
    </p>
  </div>
  <!-- NEWS -->
  <div class="column is-4">
    {% include latest-posts.html %}
  </div>
</div>

<div class="columns is-multiline">
  <div class="column is-4">
    <figure class="image is-4by3">
      <img src="{{ page.image }}" />
    </figure>
  </div>
  <div class="column is-4">
    <figure class="image is-4by3">
      <img src="{{ page.image }}" />
    </figure>
  </div>
  <div class="column is-4">
    <figure class="image is-4by3">
      <img src="{{ page.image }}" />
    </figure>
  </div>
</div>


<div class="tags">
    {% for tag in page.tags %}
      {% include tag.html tag=tag %}
    {% endfor %}
</div>
{% unless site.hide_share_buttons %}
{% include share-buttons.html %}
{% endunless %}
