---
layout: home_default
---

{% if page.toc %}
  {% assign contentsTitle = page.toc_title | default: 'Contents' %}
  {% include toc.html html=content class='menu-list' h_min=2 h_max=3 contents_title=contentsTitle %}
{% endif %}

<style type="text/css">
  ul {
    list-style: none;
    padding: 10px 10px 10px 30px
  }
  ul li {
    font-size: 120%;
    margin-left: 10px;
    list-style-type: circle;
  }
</style>

<style>
.container_for_overlay {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container_for_overlay:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
</style>

<div class="columns is-multiline">
  <!--  ABOUT US -->
  <div class="column is-9">
    <div class="content">
      <h3> About us </h3>
      <hr>
      <p align="left" style="font-size:120%;">
        We are developing new computational and mathematical tools,
        for predicting the behaviour of complex systems in engineering
        and applied science.

        Our research team is led by Principal Investigator
        <a href="https://scholar.google.com/citations?user=WAeydbgAAAAJ&hl=en">Dr Gianmarco Mengaldo </a>.
      </p>
    </div>
    <div class="columns is-multiline">
      <div class="column is-4">
        <a href="/research/knowledge-driven">
          <div class="container_for_overlay">
            <img src="/images/Natrev.jpg" alt="" class="image"/>
            <div class="overlay">
              <div class="text">Knowledge-driven predictive modeling</div>
            </div>
          </div>
        </a>      </div>
      <div class="column is-4">
        <a href="/research/methods">
          <div class="container_for_overlay">
            <img src="/images/SIAMrev.jpg" alt="" class="image"/>
            <div class="overlay">
              <div class="text">Methodology analysis and development</div>
            </div>
          </div>
        </a>      </div>
      <div class="column is-4">
        <a href="/research/data-driven">
          <div class="container_for_overlay">
            <img src="/images/JCP.jpg" alt="" class="image"/>
            <div class="overlay">
              <div class="text">Data-driven predictive modeling</div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <p align="left" style="font-size:120%;">
      We are always looking for <b> new passionate Postdoctoral
      scholars, PhD and Master students</b> to join the team!

      We currently have <b>3 openings</b>, but there are various ways
      to sponsor positions; here are two options, among many others:

      <ul>
        <li>
          for Graduate programs
          <a href="https://www.a-star.edu.sg/Scholarships/for-graduate-studies">
             <b>link</b>
          </a>
        </li>
        <li>
          for Postgraduate program
          <a href="https://www.a-star.edu.sg/Scholarships/for-post-doctoral-studies">
             <b>link</b></a>
        </li>
      </ul>
    </p>

  </div>

  <!-- NEWS -->
  <div class="column is-3">
    {% include latest-posts.html %}
  </div>
</div>
<hr>


<div class="tags">
    {% for tag in page.tags %}
      {% include tag.html tag=tag %}
    {% endfor %}
</div>
{% unless site.hide_share_buttons %}
{% include share-buttons.html %}
{% endunless %}
