---
layout: home_default
---

{% if page.toc %}
  {% assign contentsTitle = page.toc_title | default: 'Contents' %}
  {% include toc.html html=content class='menu-list' h_min=2 h_max=3 contents_title=contentsTitle %}
{% endif %}

<div class="content">
  {{ content }}
</div>

<div class="columns is-multiline">
  <div class="column is-6">
    <figure class="image is-4by3">
      <img src="{{ page.image }}" />
    </figure>
  </div>
  <div class="column is-6">
    <p class="title is-3">{{ page.title }}</p>
    <p class="subtitle is-3">{{ page.subtitle }}</p>
    <p class="title is-4 has-text-right">{{ page.price }}</p>
    {% if page.product_code %}
    <p class="subtitle is-5 has-text-right">{{ page.product_code }}</p>
    {% endif %}

    {% if page.features %}
    <div class="content">
      {% for feature in page.features %}
      <p>
        <span class="icon">
            {% if feature.icon %}
            <i class="fas {{ feature.icon }}"></i>
            {% else %}
            <i class="fas fa-circle fa-xs"></i>
            {% endif %}
        </span>
        <span>{{ feature.label }}</span></p>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="column is-12">
    <p class="title is-4">Description</p>
    <div class="content">
      {{ content }}
    </div>
  </div>
</div>
