---
layout: default
---



<html>
  <div class="columns is-multiline is-centered">
    <div class="column is-8">
    {{ content }}
    </div>
  </div>

  <div class="columns is-multiline is-centered">
    <!-- <div class="column is-8 is-centered">
      {% include pagination.html %}
    </div> -->
    {% for post in paginator.posts %}
    <div class="column is-8 is-centered">
      {% include post-card.html %}
    </div>
    {% endfor %}
    <div class="column is-8 is-centered">
      {% include pagination.html %}
    </div>
    <div class="column is-8 is-centered">
      {% include subscribe.html %}
    </div>
  </div>
</html>
