---
layout: default
---



<html>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CG8447D2QW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-CG8447D2QW');
  </script>

  <div class="columns is-multiline is-centered">
    <div class="column is-8">
    {{ content }}
    </div>
  </div>

  <div class="columns is-multiline is-centered">
    <!-- <div class="column is-8 is-centered">
      {% include pagination.html %}
    </div> -->
    {% for post in paginator.posts %}
    <div class="column is-8 is-centered">
      {% include post-card.html %}
    </div>
    {% endfor %}
    <div class="column is-8 is-centered">
      {% include pagination.html %}
    </div>
    <div class="column is-8 is-centered">
      {% include subscribe.html %}
    </div>
  </div>
</html>
