---
layout: default
---

{{ content }}

<div class="columns is-multiline">
    <div class="column is-12">
        {% include pagination.html %}
        ciao
    </div>
    {% for post in paginator.posts %}
    <div class="column is-12">
        {% include post-card.html %}
        hello
    </div>
    {% endfor %}
    {% for post in site.categories[page.category] %}
        <a href="{{ post.url | absolute_url }}">
          {{ post.title }}
        </a>
    {% endfor %}
    <div class="column is-12">
        {% include pagination.html %}
        !
    </div>
    <div class="column is-12">
        {% include subscribe.html %}
        ?
    </div>
</div>
