---
layout: default
---


<style>

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>

<script>
var modal = document.getElementById("myModal");
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
  modal.style.display = "block";
}
span.onclick = function() {
  modal.style.display = "none";
}
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>



<!-- Faculty -->
<div class="content">
  <h2> Faculty </h2>
  <hr>
</div>
<div class="columns is-multiline">
  <div class="column is-3">
    <div class="content">
      <center>
        <figure class="image is-128x128">
          <img id="myBtn" src="/images/gianmarco-mengaldo.jpg" alt="" class="is-rounded"/>
        </figure>
        <!-- The Modal -->
        <div id="myModal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <p>Some text in the Modal..</p>
          </div>
        </div>
      </center>
    </div>
    <div class="content">
      <center> Dr Gianmarco MENGALDO </center>
    </div>
    <div class="content">
      <center> <a href="mailto:mpegim@nus.edu.sg"> mpegim@nus.edu.sg </a> </center>
    </div>
    <div class="content">
      <center>
        <a href="https://scholar.google.com/citations?user=WAeydbgAAAAJ&hl=en" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-google" style="font-size: 2.5em;"></i>
        </a>
        <span style="display:inline-block; width: 5px;"></span>
        <a href="https://www.researchgate.net/profile/Gianmarco-Mengaldo" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-researchgate" style="font-size: 2.5em;"></i>
        </a>
        <span style="display:inline-block; width: 5px;"></span>
        <a href="https://www.linkedin.com/in/gianmarco-m/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-linkedin" style="font-size: 2.5em;"></i>
        </a>
        <span style="display:inline-block; width: 5px;"></span>
        <a href="https://github.com/mengaldo" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github" style="font-size: 2.5em;"></i>
        </a>
      </center>
    </div>
    <hr>
  </div>
</div>

<!-- PhD students -->
<div class="content">
  <h2> PhD students </h2>
  <hr>
</div>

<div class="columns is-multiline">
  <div class="column is-2">
    <div class="content">
      <h3> Jiawen WEI </h3>
      <a href="/team/jiawen-wei">
        <div class="container_for_overlay">
          <img src="/images/jiawen-wei.jpg" alt="" class="image"/>
          <div class="overlay">
            <div class="text">Link</div>
          </div>
        </div>
      </a>
    </div>
    <p align="center" style="font-size:100%;">
      <span class="icon"><i class="fas fa-google"></i></span>
      <a href="https://scholar.google.com/citations?user=WAeydbgAAAAJ&hl=en">
        <span class="icon"><i class="fas fa-google"></i></span>
      </a>
      <a href="https://www.researchgate.net/profile/Gianmarco-Mengaldo">
        <span class="icon"><i class="fas fa-researchgate"></i></span>
      </a>
      <a href="https://www.linkedin.com/in/gianmarco-m/">
        <span class="icon"><i class="fas fa-linkedin"></i></span>
      </a>
      <a href="https://github.com/mengaldo">
        <span class="icon"><i class="fas fa-github"></i></span>
      </a>
    </p>
  </div>
  <div class="column is-2">
    <div class="content">
      <h3> Chenyu DONG </h3>
      <a href="/team/chenyu-dong">
        <div class="container_for_overlay">
          <img src="/images/chenyu-dong.jpg" alt="" class="image"/>
          <div class="overlay">
            <div class="text">Link</div>
          </div>
        </div>
      </a>
      <p align="center" style="font-size:100%;">
        <a href="https://scholar.google.com/citations?user=WAeydbgAAAAJ&hl=en">
          <span class="icon"><i class="fas fa-google"></i></span>
        </a>
        <a href="https://www.researchgate.net/profile/Gianmarco-Mengaldo">
          <span class="icon"><i class="fas fa-researchgate"></i></span>
        </a>
        <a href="https://www.linkedin.com/in/gianmarco-m/">
          <span class="icon"><i class="fas fa-linkedin"></i></span>
        </a>
        <a href="https://github.com/mengaldo">
          <span class="icon"><i class="fas fa-github"></i></span>
        </a>
      </p>
    </div>
  </div>
</div>


  <!-- Master students -->
  <div class="content">
    <h2> Master students </h2>
    <hr>
  </div>

  <!-- Undergraduate students -->
  <div class="content">
    <h2> Undergraduate students </h2>
    <hr>
  </div>


<div class="tags">
    {% for tag in page.tags %}
      {% include tag.html tag=tag %}
    {% endfor %}
</div>
{% unless site.hide_share_buttons %}
{% include share-buttons.html %}
{% endunless %}
