---
layout: default
---



<html>
  <style>
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  </style>

  <!-- Faculty -->
  <div class="content">
    <h2> Faculty </h2>
    <hr>
  </div>

  <div class="columns is-multiline">
    {% for member_hash in site.data.team.faculty %}
    {% assign member = member_hash[1] %}
    <div class="column is-4">
      <div class="content">
        {% assign user_id = member.user %}
        {% capture btn_id %}btn-{{ user_id }}{% endcapture %}
        {% capture modal_id %}modal-{{ user_id }}{% endcapture %}
        {% capture close_id %}close-{{ user_id }}{% endcapture %}
        <center>
          <figure class="image is-128x128">
            <img id="{{btn_id}}" src="{{member.image}}" alt=""
                 class="is-rounded is-clickable"/>
          </figure>
          <div id="{{modal_id}}" class="modal">
            <div id="{{close_id}}" class="modal-content">
              <span class="close">&times;</span><p>{{member.bio}}</p>
            </div>
          </div>
          <script>
          {
            let js_btn_id = "{{btn_id | json}}"
            let js_modal_id = "{{modal_id | json}}"
            let js_close_id = "{{close_id | json}}"
            let btn = document.getElementById(js_btn_id);
            let modal = document.getElementById(js_modal_id);
            let span = document.getElementById(js_close_id);
            btn.onclick = function() {
              modal.style.display = "block";
            }
            span.onclick = function() {
              modal.style.display = "none";
            }
            window.addEventListener("click", function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            });
          }
          </script>
        </center>
      </div>
      <div class="content" style="font-size:120%">
        <center> <b>{{member.name}}</b> </center>
      </div>
      <div class="content">
        <center> <a href="mailto:{{member.email}}"> <u>{{member.email}}</u> </a> </center>
      </div>
      <div class="content">
        <center>
          {% if member.scholar %}
          <a class="button is-medium is-google" href="{{ member.scholar }}">
            <span class="icon"><img src="/images/icon_scholar.png"></img></span>
          </a>
          <span style="display:inline-block; width: 5px;"></span>
          {% endif %}
          {% if member.rg %}
          <a class="button is-medium is-researchgate" href="{{ member.rg }}">
            <span class="icon"><img src="/images/icon_researchgate.png"></img></span>
          </a>
          <span style="display:inline-block; width: 5px;"></span>
          {% endif %}
          {% if member.linkedin %}
          <a class="button is-medium is-linkedin" href="{{ member.linkedin }}">
            <span class="icon"><i class="fab fa-linkedin fa-lg"></i></span>
          </a>
          <span style="display:inline-block; width: 5px;"></span>
          {% endif %}
          {% if member.github %}
          <a class="button is-medium is-github" href="{{ member.github }}">
            <span class="icon"><i class="fab fa-github fa-lg"></i></span>
          </a>
          {% endif %}
        </center>
      </div>
      <hr>
    </div>
    {% endfor %}
  </div>
  <br>

  <!-- PhD students -->
  <div class="content">
    <h2> PhD students </h2>
    <hr>
  </div>

  <div class="columns is-multiline">
    {% for member_hash in site.data.team.phds %}
    {% assign member = member_hash[1] %}
    <div class="column is-3">
      <div class="content">
        {% assign user_id = member.user %}
        {% capture btn_id %}btn-{{ user_id }}{% endcapture %}
        {% capture modal_id %}modal-{{ user_id }}{% endcapture %}
        {% capture close_id %}close-{{ user_id }}{% endcapture %}
        <center>
          <figure class="image is-128x128">
            <img id="{{btn_id}}" src="{{member.image}}" alt="" class="is-rounded is-clickable"/>
          </figure>
          <!-- The Modal -->
          <div id="{{modal_id}}" class="modal">
            <!-- Modal content -->
            <div id="{{close_id}}" class="modal-content">
              <span class="close">&times;</span><p>{{member.bio}}</p>
            </div>
          </div>
          <script>
          {
            let js_btn_id = "{{btn_id | json}}"
            let js_modal_id = "{{modal_id | json}}"
            let js_close_id = "{{close_id | json}}"
            let btn = document.getElementById(js_btn_id);
            let modal = document.getElementById(js_modal_id);
            let span = document.getElementById(js_close_id);
            btn.onclick = function() {
              modal.style.display = "block";
            }
            span.onclick = function() {
              modal.style.display = "none";
            }
            window.addEventListener("click", function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            });
          }
          </script>
        </center>
      </div>
      <div class="content" style="font-size:120%">
        <center> <b>{{member.name}}</b> </center>
      </div>
      <div class="content">
        <center> <a href="mailto:{{member.email}}"> <u>{{member.email}}</u> </a> </center>
      </div>
      <div class="content">
        <center>
          {% if member.scholar %}
          <a class="button is-medium is-google" href="{{ member.scholar }}">
            <span class="icon"><img src="/images/icon_scholar.png"></img></span>
          </a>
          <span style="display:inline-block; width: 5px;"></span>
          {% endif %}
          {% if member.rg %}
          <a class="button is-medium is-researchgate" href="{{ member.rg }}">
            <span class="icon"><img src="/images/icon_researchgate.png"></img></span>
          </a>
          <span style="display:inline-block; width: 5px;"></span>
          {% endif %}
          {% if member.linkedin %}
          <a class="button is-medium is-linkedin" href="{{ member.linkedin }}">
            <span class="icon"><i class="fab fa-linkedin fa-lg"></i></span>
          </a>
          <span style="display:inline-block; width: 5px;"></span>
          {% endif %}
          {% if member.github %}
          <a class="button is-medium is-github" href="{{ member.github }}">
            <span class="icon"><i class="fab fa-github fa-lg"></i></span>
          </a>
          {% endif %}
        </center>
      </div>
      <center>
        {% for topic in member.topics %}
        <div class="button is-small">
          <span> {{topic}} </span>
        </div>
        {% endfor %}
      </center>
      <hr>

    </div>
    {% endfor %}
  </div>
  <br>

  <!-- Master students -->
  <div class="content">
    <h2> Master students </h2>
    <hr>
    {% assign masters = site.data.team.masters_list | sort: "Year" %}
    {% for m in masters reversed %}
    <li style="text-indent: 40px;">
      <b>{{ m.Name }}</b>, {{ m.Role }}, <u>{{ m.Institution }}</u> ({{ m.Country }}), <b>{{ m.Year }}</b>
    {% endfor %}
    </li>
  </div>
  <br>

  <div class="columns is-multiline">
    {% for member_hash in site.data.team %}
    {% assign member = member_hash[1] %}
    {% for master in member.masters%}
    <div class="column is-3">
      <div class="contents">
        <center> {{master.name}} </center>
        <center> {{master.institution}} </center>
      </div>
    </div>
    {% endfor %}
    {% endfor %}
  </div>
  
  <!-- Undergraduate students -->
  <div class="content">
    <h2> Undergraduate students </h2>
    <hr>
    {% assign undergrads = site.data.team.undergrads_list | sort: "Year" %}
    {% for m in undergrads reversed %}
    <li style="text-indent: 40px;">
      <b>{{ m.Name }}</b>, {{ m.Role }}, <u>{{ m.Institution }}</u> ({{ m.Country }}), <b>{{ m.Year }}</b>
      {% endfor %}
    </li>
  </div>
  
  <div class="columns is-multiline">
    {% for member_hash in site.data.team %}
    {% assign member = member_hash[1] %}
    {% for ungrad in member.ungrad%}
    <div class="column is-3">
      <div class="contents">
        <center> {{ungrad.name}} </center>
        <center> {{ungrad.institution}} </center>
      </div>
    </div>
    {% endfor %}
    {% endfor %}
  </div>
  
</html>
